# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\software-udvikling-anden-semester\databases_first_assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
